<h1>Home</h1>
<h2>This app is used to get the song information in our database. If you wish to register or log in please click the buttons on the header. Enjoy</h2>

<h1>Song Info</h1>
<input type = "text" [(ngModel)] = "name" placeholder="Enter Search">
<button (click) = "searchRes(name)">Search</button>

<ul *ngIf="search">
    <li *ngFor="let ind of search">
        <p class="title">{{ind.stitle}}</p>
    </li>
</ul>

<h1>Song Info</h1>
<ul *ngIf="songs">
    <li *ngFor="let song of songs">
        <p class="title">{{ song.stitle }}</p>
        <button (click)="more(song._id)">More Info</button>
    </li>
</ul>

<h1>Detailed Song Info:</h1>
<ul *ngIf="songID">
<li>
    <p class="title">{{ songID.stitle }}<br></p>
    <p class="info">{{ songID.sartist }}</p><br>
    <p class="details">{{ songID.salbum }}</p><br>
    <p class="details">{{ songID.syear }}</p><br>
    <p class="details">{{ songID.strack }}</p><br>
    <p class="details">{{ songID.sgenre }}</p><br>
</li>
    <li *ngFor="let num of songID['reviews']">
        <p>Rating: {{num.rating}}</p><br>
        <p>Review Description: {{num.reviewdes}}</p><br>
        <p>Reviewer Name: {{num.reviewname}}</p><br>
    </li>
    <!--<p class="details">{{ songID["reviews"][0].rating}}</p><br>-->
</ul>