<h1>Home</h1>
<h2>This app is used to get the song information in our database. If you wish to register or log in please click the buttons on the header. Enjoy</h2>

<h1>Song Info</h1>
<input type = "text" [(ngModel)] = "name" placeholder="Enter Search">
<button (click) = "searchRes(name)">Search</button>

<ul *ngIf="search">
    <li *ngFor="let ind of search">
        <p class="title">{{ind.stitle}}</p>
    </li>
</ul>

<h1>Song Info</h1>
<ul *ngIf="songs">
    <li *ngFor="let song of songs">
        <p class="title">{{ song.stitle }}</p>
        <button (click)="more(song._id)">More Info</button>
    </li>
</ul>

<h1>Detailed Song Info:</h1>
<ul *ngIf="songID">
<li id="moreList">
    <p>Total Reviews: {{songID['reviews'].length}}</p>
    <p>Most Recent Review Name: {{songID['reviews'][songID['reviews'].length-1].reviewname}}</p>
    <p>Most Recent Review Rating: {{songID['reviews'][songID['reviews'].length-1].rating}}</p>
    <p>Most Recent Review Description: {{songID['reviews'][songID['reviews'].length-1].reviewdes}}</p>
    <p>Average Ratings: {{averageRating}}</p>
    <p>{{ songID.stitle }}</p>
    <p>{{ songID.sartist }}</p>
    <p>{{ songID.salbum }}</p>
    <p>{{ songID.syear }}</p>
    <p>{{ songID.strack }}</p>
    <p>{{ songID.sgenre }}</p>
</li>

    <ul *ngIf = "display">
    <li *ngFor="let num of songID['reviews']">
        
        <p>Rating: {{num.rating}}</p><br>
        <p>Review Description: {{num.reviewdes}}</p><br>
        <p>Reviewer Name: {{num.reviewname}}</p><br>
    </li>
</ul>
<button (click)="displayReview()">Display All Reviews</button>

</ul>

<div *ngIf = "value">
    <h1>You Are Logged In User. Welcome to the Admin Life!!!</h1>
    <p>If you want to go to your admin priviledges, please click the following button</p>
    <button (click) = reroute()>admin</button>
</div>
 
